<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/51ec2a7c-37ba-4548-a994-833b14c0dc4f/resourceGroups/Dashgin/providers/Microsoft.Web/sites/Blink</ResourceId>
    <ResourceGroup>Dashgin</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blink-a7g8aeg4gbc4htdy.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4ed27287-e820-4918-8905-c0a9cf20b51c</ProjectGuid>
    <PublishUrl>https://blink-a7g8aeg4gbc4htdy.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UserName>dashgin</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>